<!DOCTYPE html>
<html>
<head>
	<title>403 Forbidden</title>
</head>
<body>

<p>Directory access is forbidden.</p>

</body>
</html>

<?php include(APPPATH.'/views/common/header.php'); ?>
<?php include(APPPATH.'/views/common/top_menu.php'); ?>
<!-- Content -->
<section id="main" data-layout="layout-1">
	<?php include(APPPATH.'/views/common/sidebar.php'); ?>

	<section id="content">
	    <div class="container">
	        <div class="block-header">
	            <h2>Dashboard</h2>
	            
	        </div>

	        <div class="row">
	            <div class="col-sm-12">
	                <div class="card">
                        
                    </div>
	            </div>
	        </div>
	    </div>
	</section>
</section>


<?php include(APPPATH.'/views/common/footer.php'); ?>

